* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #8b8787;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #222;
  position: static;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.logo {
  color: white;
  text-align: left;
}
.pic{
    margin-right: -55%;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #45d8e8, #555);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #dbd5d5;
  color: #222;
  text-decoration: none;
  border-radius: 5px; 
}

/* Sections */
section {
  padding: 50px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Skills */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container span {
  background: #ddd;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 20px;
}

/* Projects */
.achive-card {
  background: rgb(110,160,162);
  margin: 20px auto;
  padding: 15px;
  max-width: 320px;
  border-radius: 10px;
  text-align: center;
}

.credly {
  background: rgb(110,160,162);
  margin: 20px auto;
  padding: 15px;
  max-width: 320px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}


/* Contact */
.contact-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
/* Instagram Button */
.instagram {
  background:linear-gradient(90deg,#405DE6,#5851DB,#833AB4,#E1306C,#FD1D1D);
  width: 2px;
  height: inherit;
}

/* LinkedIn Button */
.linkedin {
  background-color: #196995;
  width: 2px;
  height: inherit;
}

.gmail{
  background-color: #833AB4;
  width: 2px;
  height: inherit;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Footer */
footer {
  text-align: center;
  padding: 5px;
  background: #222;
  color: white;
}